<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
                    <nav>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li class="drop">
                                    <a href="add_post.html">You</a>

                                    <div class="dropdownContain">
                                        <div class="dropOut">
                                            <div class="triangle"></div>
                                            <ul>
                                                <li>Plan</li>
                                                <li>Account Settings</li>
                                                <li>Switch Account</li>
                                                <li>Sign Out</li>
                                            </ul>
                                        </div>
                                    </div>

                                </li>
                                <li><a href="register.html">registration</a></li>
                            </ul>
                    </nav>

{% block index %} {% endblock %}
{% block registration %} {% endblock %}
{% block addpost %} {% endblock %}

</body>
</html>